API_ID= 31295264
API_HASH= 9dfcca4ac071bbec3d7fb842e627fb19
BOT_TOKEN= 8127925739:AAGCEfgeg1O-Br8wzpwXWbf5WtoBXxtyovU
LOGGER_ID= -1003575337223
MONGO_URL= mongodb+srv://bhulud30_db_user:bhulud30_db_user@cluster0.yzspcrl.mongodb.net/?appName=Cluster0
OWNER_ID= 8229785450
SESSION= BQHdhyAANMywm_wA14sWFamUFuZG7WLdIYJuErMl6tpOvtzt_sg3v0oNJkwHFrht2TN4k_1UnE_F4DsjRbq56CBrnB0XR_t-sPQhkjf9J45Pf9T29aXhlLdp-FB4Tml2cXl6PAlqPd-SpAXT7AqmUtKCmZxO3LxxsmruHhHyPE_YcRnte1GWuUF3pw9GAwmCYddNu08I3h37YUakXTZygqu-exUideQA3budrJkBfhSodwguGoB_NXajOgivOW8BTEmjNAHv9Q2sTFlJPeKUXLrB6UbRjRToWW1YXEDFm6V9h22w6jFFEBrR_CIfSD_5IHIlIKHPavhd0VzkEzgegoJxGTb5SgAAAAH9epKtAA
